# Backend
.vs/
**/bin/
**/obj/
packages/
TestResults/
*.binlog
*.user
*.suo
appsettings.Development.json

# Frontend
node_modules/
dist/
.turbo/
.vite/
.env
.env.*
!.env.example

# Common
.DS_Store
Thumbs.db
*.log
